/* task 1 */
.container {
  max-width: 300px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

#datetime-picker {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.timer {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}
